@import "tailwindcss";
@theme {
  --color-mint-500: oklch(0.72 0.11 178);

  --color-border: rgba(0, 0, 0, 0.2);
  --color-light_main: rgb(255, 255, 255);
  --color-light_background: rgb(242, 242, 242);
  --color-light_text_primary: rgb(60, 60, 60);
  --color-light_text_secondary: rgba(60, 60, 60, 0.5);
  --color-low_priority: rgba(0, 255, 0, 0.2);
  --color-light_disable: rgba(0, 0, 0, 0.1);

  --color-light_button_hovering: rgb(204, 204, 204);
  --color-light_button_pressing: rgb(255, 255, 255);
}

@font-face {
  font-family: "Audrey";
  src: url("./fonts/Audrey-Normal.otf") format("opentype");
       /* url("./fonts/CustomFont-Bold.otf") format("opentype"); */
  font-weight: normal;
  font-style: normal;
}

.light_border {
  box-shadow: inset 0 0 0 1px var(--color-border);
  border-radius: 10px;
}

body {
  background-color: var(--color-light_background);
  font-family: "Audrey", sans-serif;
  color: var(--color-light_text_primary); /* Tailwind's blue-500 */

}
